@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
body {
  background-color: #000000;
  color: #FFFFFF; }

span.desktop-only {
  display: none; }
  @media only screen and (min-width: 1000px) {
    span.desktop-only {
      display: inline; } }

span.desktop-tablet-only {
  display: none; }
  @media only screen and (min-width: 1000px) {
    span.desktop-tablet-only {
      display: inline; } }
  @media only screen and (min-width: 400px) {
    span.desktop-tablet-only {
      display: inline; } }

span.mobile-only {
  display: inline; }
  @media only screen and (min-width: 1000px) {
    span.mobile-only {
      display: none; } }
  @media only screen and (min-width: 400px) {
    span.mobile-only {
      display: none; } }

html, body, div.site {
  height: 100%;
  overflow: hidden; }

.site-main div#content::after {
  clear: both;
  content: "";
  display: block; }

.site-content {
  padding: 2rem;
  max-width: 320px;
  margin: 0 auto; }
  @media only screen and (min-width: 400px) {
    .site-content {
      max-width: 720px; } }
  @media only screen and (min-width: 1000px) {
    .site-content {
      max-width: 960px; } }
  .site-content table td, .site-content table th {
    vertical-align: top;
    padding: 1rem;
    border: 1px solid #1a1a1a; }
  @media only screen and (min-width: 1000px) {
    .site-content form {
      width: calc(66.6666666667% - 33.3333333333px);
      float: left;
      margin-left: 20px;
      margin-left: calc(16.6666666667% - 23.3333333333px + 40px); } }

.site-info {
  text-align: center; }

.page-template-construction-page {
  animation-name: fade-in;
  animation-duration: 4s; }
  .page-template-construction-page div#content {
    position: absolute;
    top: calc(33%); }
    .page-template-construction-page div#content .centered-logo {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px;
      margin-bottom: 2rem; }
      @media only screen and (min-width: 400px) {
        .page-template-construction-page div#content .centered-logo {
          width: calc(83.3333333333% - 36.6666666667px);
          float: left;
          margin-left: 20px;
          margin-left: calc(8.3333333333% - 21.6666666667px + 40px); } }
      @media only screen and (min-width: 1000px) {
        .page-template-construction-page div#content .centered-logo {
          width: calc(50% - 30px);
          float: left;
          margin-left: 20px;
          margin-left: calc(25% - 25px + 40px); } }
      .page-template-construction-page div#content .centered-logo img {
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
        width: 100%; }
      .page-template-construction-page div#content .centered-logo:after {
        clear: both; }
    .page-template-construction-page div#content .contact {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px;
      text-align: center;
      font-size: 12px;
      font-size: .8rem; }
      @media only screen and (min-width: 400px) {
        .page-template-construction-page div#content .contact {
          font-size: 16px;
          font-size: 1rem; } }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on September 23, 2017 */
/*@font-face {
    font-family: 'josefin_sanslight';
    src: url('josefinsans-light-webfont.woff2') format('woff2'),
         url('josefinsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansbold';
    src: url('josefinsans-bold-webfont.woff2') format('woff2'),
         url('josefinsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('josefinsans-regular-webfont.woff2') format('woff2'),
         url('josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/
/* Bourbon mixins: */
@font-face {
  font-family: "Josefin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/josefinsans-regular-webfont.woff2") format("woff2"), url("../fonts/josefinsans-regular-webfont.woff") format("woff"); }
@font-face {
  font-family: "Josefin";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/josefinsans-bold-webfont.woff2") format("woff2"), url("../fonts/josefinsans-bold-webfont.woff") format("woff"); }
@font-face {
  font-family: "Josefin";
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/josefinsans-light-webfont.woff2") format("woff2"), url("../fonts/josefinsans-light-webfont.woff") format("woff"); }
body {
  font-family: "Josefin", Helvetica, Arial, sans-serif;
  font-weight: 400; }

a {
  color: #e6e6e6;
  text-decoration: none; }
  a:hover {
    color: #FFBE87;
    text-decoration: underline; }
  a:visited {
    color: #b3b3b3; }

.site-info {
  color: #333333; }
  .site-info a {
    color: #333333; }
    .site-info a:hover {
      color: #FFBE87; }

.site-content form {
  color: #FFFFFF; }
  .site-content form input {
    background-color: #000000;
    color: #FFFFFF; }
    .site-content form input[type=submit] {
      padding: 1rem;
      text-align: center;
      width: 100%; }
    .site-content form input[type=text] {
      width: 100%; }
      .site-content form input[type=text]:focus {
        background-color: white;
        color: black;
        outline: 1px solid #FFBE87;
        box-shadow: 0 0 0 2px #FFBE87; }

/*# sourceMappingURL=template.css.map */
