body {
    font-family: "Josefin", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

a {
    color: darken($primary-color, 10%);
    text-decoration: none;
    &:hover {
        color: $secondary-color;
        text-decoration: underline;
    }
    &:visited {
        color: darken($primary-color, 30%);
    }
}

.site-info {
    color: darken( $primary-color, 80% );
    a {
        color: darken( $primary-color, 80% );
        &:hover {
            color: $secondary-color;
        }
    }
}
